<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Playder</title>
	<link rel="stylesheet" href="BS/styles.css" />
</head>
<body class="d-flex justify-content-center align-items-center vh-100" style="background:#9D9D9D;">
	<div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
		<div>
			<img src="assets/banner.png" class="rounded mx-auto d-block" alt="username-icon" style="height: 10rem" />
		</div>
		<div class="input-group mt-1">
			<a href="/index.php?tipo=recomendar" class="w-100 my-3">
				<button class="btn btn-outline-primary w-100 my-3 fw-bolder shadow-sm">
					Hacer nuevos amigos
				</button>
			</a>
			<a href="/index.php?tipo=actualizar" class="w-100">
				<button class="btn btn-outline-dark w-100 fw-bolder shadow-sm">
					Ver mi perfil
				</button>
			</a>
			<div class="dropdown w-100 mt-3">
				<button class="w-100 btn btn-outline-dark fw-semibold shadow-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Agregar
				</button>
				<ul class="dropdown-menu mx-auto w-100 text-center">
					<li><a class="dropdown-item" href="/?tipo=agregar&entidad=videojuegos&cambio=1">Videojuegos</a></li>
					<li><a class="dropdown-item" href="/?tipo=agregar&entidad=plataformas&cambio=1">Plataformas</a></li>
					<li><a class="dropdown-item" href="/?tipo=agregar&entidad=hobbies&cambio=1">Hobbies</a></li>
				</ul>
			</div>
			<button class="btn btn-outline-danger w-100 mt-3 fw-semibold shadow-sm" onclick="logout()">
				Cerrar sesión
			</button>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>
<script>
	function logout(){
		$.ajax({
			method: 'POST',
			url: '/api/usuarios/logout.php',
			success: (response) => {
				if(!response.exito)
					alert("Error cerrando sesión");
				location.reload();
			}
		})
	}
</script>
</body>
</html>